//color-variables

$success: #01bf86;
$warning: #f29518;
$grey: #777;
$light: #f3f5f9;
$primary: #2998ff;
$dark: #0b1728;
$white: #ffffff;
$blue: #5643fa;
$orange: #ff7730;
$dark-light: #2c303a;
$danger: #e91e63;
$black: #000;

//screen-breakpoints-variables
$breakpoint-sm: 36em;
$breakpoint-md: 48em;
$breakpoint-lg: 62em;
$breakpoint-xl: 75em;
$breakpoint-xxl: 112.5em;

//grid-variables
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
